@import './scss/utils/mixins';
@import './scss/utils/placeholders';
@import './scss/utils/variables';
@import './scss/portfolio/components/footer';
@import './scss/portfolio/components/header';
@import './scss/portfolio/components/portfolio';
@import './scss/webstudio/components/footer';
@import './scss/webstudio/components/gallery';
@import './scss/webstudio/components/header';
@import './scss/webstudio/components/hero';
@import './scss/webstudio/components/partners';
@import './scss/webstudio/components/services';
@import './scss/webstudio/components/team';
h1 {
    font-size: 44px;
    color:var(--white);
    text-align: center;
    margin: 0px;
    letter-spacing: 6%;
    line-height: 60px;
}
body 
{
    font-family: 'Roboto';
    width: 100vw;
}
.container {
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 15px;
}
.container.header {
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 15px;
}
// @media (max-width: 768px) {
//     .container {
//         width: 768px;
//         margin: 0 auto;
//         padding: 0 15px;
//     }
// }
// @media (min-width: 0px) and (max-width: 450px) {
//     .container {
//         width: 450px;
//         margin: 0 auto;
//         padding: 0 15px;
//     }
// }
