%modal-animation {
    opacity: 1;
    transform: translate(-50%, -50%);
}
%modal-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;
}