
.web, .studio {
  color: $decor-color;
  font-size: 26px;
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 60px;
}
.studio {
  color: $background-text-color;
}

.header-logo {
  list-style: none;
  display: flex;
  font-family: 'Raleway';
  font-weight: bold;

  &-text {
    color: $text-color;
    font-size: 26px;
    font-weight: bold;
    padding: 24px 0 25px;
  }
}

.header-nav {
  list-style: none;
  display: flex;

  &-link {
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    font-weight: 500;

    &:hover {
      color: $decor-color;
    }
  }
}

.header-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $little-text-color;

  &-link {
    text-decoration: none;
    color: inherit;
    font-family: Roboto;
    font-weight: 500;

    &:hover {
      color: $decor-color;
    }
  }
}

.nav-site {
  display: flex;
//   flex-wrap: wrap;
  gap: 4vw;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.header-nav-link {
  flex: 1 1 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;

  &-list,
  &-list-2 {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 5vw;
    flex: 1 1 auto;
  }
  &-list {
    padding-left: 7vw;
  }
}

.container.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 5vw;
}

header {
  border-bottom: 1px solid #ccc;
}

.third, .first, .second {
  position: relative;
  display: inline-block;
  padding: 30px 0 28px;
  overflow: hidden;
}

.third { 
  width: 72px; 
}
.first { 
  width: 48px; 
}
.second { 
  width: 80px; 
}

.third::after,
.first::after,
.second::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $decor-color;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.third:hover::after,
.first:hover::after,
.second:hover::after {
  transform: scaleX(1);
}
.st, .pr {
  color: $decor-color;
  border-bottom: 4px solid $decor-color;
  padding-bottom: 24px;
  padding-top: 30px;
}
.st { 
  width: 48px; 
}
.pr { 
  width: 72px; 
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 1.667vw;
}
.header-logo-text {
//   display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  gap: 4px;
  padding: 24px 0;
  text-decoration: none;
  flex-shrink: 0; 
}

.web {
  color: $decor-color;
}

.studio {
  color: $background-text-color;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $little-text-color;

  &:hover {
    color: $decor-color;
}
}

.header-contact-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.social-links {
  display: none;
}
@media (max-width: 768px) {
  .header-list-2 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: none;
  }
  .nav-site {
    gap: 3vw;
  }
  .header-list, .header-list-2 {
    gap: 2vw;
  }
  
  .header-nav-link, .header-contact-link {
    font-size: 14px;
  }
  .header-list {
    justify-content: center;
    padding-left: 3.328vw;
  }
  .header-logo-text {
    font-size: 24px;
  }
  .web {
    font-size: 24px;
  }
}
.header-burger_btn {
  display: none;
}
.header-close_btn {
  display: none;
}

@media (max-width: 450px) {
  .header-close_btn {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
  }
}
@media (max-width: 565px) {
  .header-contact-link {
    display: none;
  }
}
@media (max-width: 450px) {
  .header-logo-text {
    font-size: 24px;
  }
  .web {
    font-size: 24px;
  }
  .nav-site {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px;
    background-color: $background-text-color;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

  }
  .header-contact-link {
    display: block;
  }
  .header-nav-link {
    border: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
  }
  .second,.st, .third {
    width: 300px;
  }
  .header.open .nav-site {
    display: flex;
     opacity: 1;
      pointer-events: all;
  }
  .header-burger_btn {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
  }
  .header-close_btn {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
  }
  .header-list {
    flex-direction: column;
    gap: 35.71px;
  }
  .header-list-2 {
    flex-direction: column-reverse;
    gap: 32px;
    margin-top: 200px;
  }
  .burger-number {
    font-size: 34px;
    color: $decor-color;
  }
  .burger-mail {
    font-size: 24px;
  }
  .burger-symbol {
    display: none;
  }
  .social-links {
    display: flex;
    gap: 10px;
    color: rgba(33, 33, 33, 0.2);
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;
    letter-spacing: 2%;
    @include text(500, 22);
    margin-top: 64px;
    line-height: 2px;
  }
  .social-links a {
    text-decoration: none;
    color: $decor-color;
  }
}
