@import "/scss/utils/mixins";
@import "/scss/utils/placeholders";
@import "/scss/utils/variables";
.partners-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
}
.partners-icon-item {
    text-decoration: none;
    color: inherit;
}
.partners-icon-border {
    color: rgba(175, 177, 184, 1);
    padding: 16px 32px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 5px;
}
.partners-icon-border:hover {
    color: $decor-color;
    border: 1px solid $decor-color;
}